
.app {
  padding-inline: 2em;
  -webkit-padding-before:0.7em;
          padding-block-start:0.7em;
}
.app-header {
  /* background-color: #282c34; */
  background-image: linear-gradient(119.8deg, #FF0000 0%, #000080 87.69%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-nav .dot{
  font-size:6rem;
  color:#ff0000;
}
.coming-soon{
  font-size:10px;
}


















@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



















@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



















@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
