@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
}
h1
h2,
h3,
h4
h5
{
  font-family: Bagatela;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*
**
Global styles for Fixed Navbar
**/
.nav-list {
  margin-block:0;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
          -webkit-margin-end:48px;
                  margin-inline-end:48px;
  padding:0;
  list-style:none;
  text-align:center;
  display: grid;
  grid-template-columns:repeat(5, 1fr);

  & li {
    gap: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  & a {
    text-decoration: none;
    font-size:12px;
  }
}

.button-outline {
  border:1px solid grey;
  border-radius:4px;
  background-color: transparent;
  padding-block: 0.5rem;
  padding-inline:1rem;
  width: 140px;
  height: 32px;
  font-weight:600;
  font-size:11px;
  text-transform: uppercase;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  cursor: pointer;
}


/*
** Global styles for pages layout

*/
.page-layout {
  width: 1107px;
  height:auto;
  height:100vh;
  background-color: transparent;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  &  .title-heading{
    font-size: 72px;
    font-family: Bagatela;
    line-height:88%;
  }

  & .sub-title {
    font-size: 32px;
    align-items: center;
    display: grid;
  }

}

.page-auto {
  grid-template-columns: auto auto;
  align-items: start;
}


